.item-container mat-form-field + mat-form-field {
  margin-left: 8px;
  }

.setting-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 5px;
  }
  
.setting-full-width {
    width: 100%;
  }

.setting-headers-align {
    padding-bottom: 20px;
  }

.item-container {
    margin-top: 8px;
  }

.item-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

.file-name {
    margin-left: 1rem; 
  }