<div ngAccordionGroup class="material-accordion meals-container" [multiExpandable]="true">
  @for (meal of plan().meals; track meal; let index = $index) {
  <div class="item-container">
    <mat-form-field class="field-full-width">
      <mat-label>{{ 'app.planner.meals.name' | translate }}</mat-label>
      <input matInput placeholder="{{ 'app.planner.meals.ph.name' | translate }}" [(ngModel)]="meal.name" required>
    </mat-form-field>
  
    <button mat-raised-button (click)="deleteMeal(index)" class="right-item">{{ 'app.button.remove.meal' | translate }}</button>
  </div>
  <h3>
    <span ngAccordionTrigger [panel]="panel" #trigger="ngAccordionTrigger">
      {{ meal.name }} {{ 'app.planner.meals.options' | translate }} - {{ meal.options.length }}
      <span
        aria-hidden="true"
        class="material-symbols-outlined expand-icon"
        [class.expand-icon__expanded]="trigger.expanded()"
        translate="no"
        >keyboard_arrow_up</span
      >
    </span>
  </h3>
  <div ngAccordionPanel #panel="ngAccordionPanel">
    <ng-template ngAccordionContent>
      @for (option of meal.options; track option; let idx = $index) {
        <div class="item-container">
          <mat-form-field class="field-full-width">
            <mat-label>{{ 'app.planner.meals.option.name' | translate }}</mat-label>
            <textarea matInput placeholder="{{ 'app.planner.meals.option.ph.name' | translate }}" [(ngModel)]="option.name" required>
            </textarea>
          </mat-form-field>
        
          <button mat-raised-button (click)="deleteOption(index,idx)" class="right-item">{{ 'app.button.remove.option' | translate }}</button>
        </div>
      }
      <div class="item-container-center">
          <button mat-raised-button (click)="addOption(index)" >{{ 'app.button.insert.option' | translate }}</button>
      </div>
    </ng-template>
  </div>
  }
  <div class="item-container">
      <button mat-raised-button (click)="addMeal()" >{{ 'app.button.insert.meal' | translate }}</button>
  </div>
</div>