<div ngAccordionGroup class="material-accordion meals-container" [multiExpandable]="true">
  @for (meal of plan().meals; track meal; let idx = $index) {
  <h3>
    <div class="item-data-row">
      <div class="item-data-label">
        <mat-form-field class="meal-field">
          <mat-label>{{ 'app.planner.meals.name' | translate }}</mat-label>
          <input matInput placeholder="{{ 'app.planner.meals.ph.name' | translate }}" [(ngModel)]="meal.name" required>
        </mat-form-field>
        <button matIconButton (click)="deleteMeal(idx)" aria-label="{{ 'app.button.remove.meal' | translate }}">
          <mat-icon>delete</mat-icon>
        </button>
        @if (meal.types.length === 1) {
          <button matIconButton (click)="addSection(idx,0)" aria-label="{{ 'app.button.add.section' | translate }}">
            <mat-icon>add</mat-icon>
          </button>
        }
        <button matIconButton (click)="addType(idx)" aria-label="{{ 'app.button.add.type' | translate }}">
          <mat-icon>add_box</mat-icon>
        </button>
      </div>
      <div class="item-data-value">
        <span ngAccordionTrigger [panel]="panel" [expanded]="true" #trigger="ngAccordionTrigger">
          
          @if (meal.types.length === 1) {
            {{ meal.types.at(0)?.sections?.length }}
          }
          @else {
            {{ meal.types.length }}
          }
          <span
            aria-hidden="true"
            class="material-symbols-outlined expand-icon"
            [class.expand-icon__expanded]="trigger.expanded()"
            translate="no"
            >keyboard_arrow_up</span
          >
        </span>
      </div>
    </div>
  </h3>
  <div ngAccordionPanel #panel="ngAccordionPanel">
    <ng-template ngAccordionContent>
      @for (type of meal.types; track type; let tidx = $index) {
        @if (meal.types.length > 1) {
          <h3>
            <div class="item-data-row">
              <div class="item-data-label">
                <mat-form-field class="type-field">
                  <mat-label>{{ 'app.planner.meals.type.name' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'app.planner.meals.type.ph.name' | translate }}" [(ngModel)]="type.name" required>
                </mat-form-field>
                <button matIconButton (click)="deleteType(idx,tidx)" aria-label="{{ 'app.button.remove.type' | translate }}">
                  <mat-icon>delete</mat-icon>
                </button>
                <button matIconButton (click)="addSection(idx,tidx)" aria-label="{{ 'app.button.add.section' | translate }}">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="item-data-value">
                <span ngAccordionTrigger [panel]="panel" [expanded]="true" #trigger="ngAccordionTrigger">
                  {{ type.sections.length }}
                  <span
                    aria-hidden="true"
                    class="material-symbols-outlined expand-icon"
                    [class.expand-icon__expanded]="trigger.expanded()"
                    translate="no"
                    >keyboard_arrow_up</span
                  >
                </span>
              </div>
            </div>
          </h3>
        }
        @if (meal.types.length > 1) {
          <div ngAccordionPanel #panel="ngAccordionPanel">
            <ng-template ngAccordionContent>
              asdsadasd
            </ng-template>
          </div>
        }
        @for (section of type.sections; track section; let sidx = $index) {
          <h3>
            <div class="item-data-row">
              <div class="item-data-label">
                <mat-form-field class="section-field">
                  <mat-label>{{ 'app.planner.meals.section.name' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'app.planner.meals.section.ph.name' | translate }}" [(ngModel)]="section.name" required>
                </mat-form-field>
                <button matIconButton (click)="deleteSection(idx,tidx,sidx)" aria-label="{{ 'app.button.remove.section' | translate }}">
                  <mat-icon>delete</mat-icon>
                </button>
                <button matIconButton (click)="addOption(idx,tidx,sidx)" aria-label="{{ 'app.button.add.option' | translate }}">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="item-data-value">
                <span ngAccordionTrigger [panel]="panel" [expanded]="true" #trigger="ngAccordionTrigger">
                  {{ section.options.length }}
                  <span
                    aria-hidden="true"
                    class="material-symbols-outlined expand-icon"
                    [class.expand-icon__expanded]="trigger.expanded()"
                    translate="no"
                    >keyboard_arrow_up</span
                  >
                </span>
              </div>
            </div>
          </h3>
          <div ngAccordionPanel #panel="ngAccordionPanel">
            <ng-template ngAccordionContent>
              @for (option of section.options; track option; let oidx = $index) {
                <div class="item-container">
                    <mat-form-field class="option-field">
                      <mat-label>{{ 'app.planner.meals.option.name' | translate }}</mat-label>
                      <textarea matInput placeholder="{{ 'app.planner.meals.option.ph.name' | translate }}" [(ngModel)]="option.name" required>
                      </textarea>
                    </mat-form-field>
                  
                    <button matIconButton (click)="deleteOption(idx,tidx,sidx,oidx)" aria-label="{{ 'app.button.remove.option' | translate }}">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
              }
            </ng-template>
          </div>
          
        }
      }
    </ng-template>
  </div>
    @if (idx+1 < plan().meals.length) {
      <hr>
    }
  }
  <div class="item-container">
      <button mat-raised-button (click)="addMeal()" >{{ 'app.button.insert.meal' | translate }}</button>
  </div>
</div>