<div class="home-form">
    <div class="item-container">
        <button mat-raised-button [routerLink]="['/plan-loader-component']" [queryParams]="{ mode: 'viewer' }" (click)="setTitle('app.viewer.title')" >{{ 'app.viewer.title' | translate }}</button>
    </div>
    <div class="item-container">
        <button mat-raised-button [routerLink]="['/configurer-component']" (click)="setTitle('app.configurer.title')" >{{ 'app.configurer.title' | translate }}</button>
    </div>
    <div class="item-container">
        <button mat-raised-button [routerLink]="['/setting-component']" (click)="setTitle('app.setting.title')" >{{ 'app.setting.title' | translate }}</button>
    </div>
</div>
